currencies==2014.7.13
dj-database-url==0.5.0
Django==2.1.3
djangorestframework==3.9.0
python-decouple==3.1
pytz==2018.7
six==1.12.0
unittest-xml-reporting==2.2.0
git+https://github.com/jasperlittle/django-rest-framework-docs.git
psycopg2-binary==2.7.5
gunicorn==19.9.0
dj-static==0.0.6
requests==2.21.0
